@use '../utils/variables' as vars;
@use '../utils/utils' as utils;

.default-button{
    height: 34px;
    width: 34px;
    border-radius: vars.$border-radius;
    background-color: vars.$blue-color;
    box-shadow: vars.$default-box-shadow;
    @include utils.align-horisontal-vertical;
}

.default-wide-button{
    height: 34px;
    width: 72px;
    border-radius: vars.$border-radius;
    background-color: vars.$blue-color;
    box-shadow: vars.$default-box-shadow;
    @include utils.align-horisontal-vertical;
}