@use '../utils/variables' as vars;
@use '../utils/utils' as utils;
@use '../themes/_themes';


.note-box{
    display: flex;  /* Flex-контейнер */
    justify-content: center;
    position: relative;
    width: 100%;
    height: 70px;
    background-color: rgba(0,0,0,0.3);
    border-radius: vars.$border-radius;
    @include utils.vertical-items(0px);
  
    #note-box-checkbox{
        position: absolute;
        left: 15px;
        cursor: pointer;
        
        &:checked ~ #note-box-notename{
            text-decoration: line-through;  /* Зачеркивание при проверке */
            color: vars.$light-green-color;
        }
    }

    #note-box-notename{
        transition: text-decoration 0.3s ease;
        position: absolute;
        left: 55px;
    }

    #note-box-edit-button{
        position: absolute;
        right: 55px;
        cursor: pointer;
    }

    #note-box-delete-button{
        position: absolute;
        right: 15px;
        cursor: pointer;
    }
}

.note-box.show{
    display: none;
}