@use '../utils/variables' as vars;

.default-text-input{
    
    height: 30px;
    background-color: rgba(0,0,0,0.1);
    border-width: 2px;
    border-color: vars.$light-blue-color;
    border-radius: vars.$border-radius;
}