@use '../utils/utils' as utils;
@use '../utils/variables' as vars;

#tool-panel{
    width: 60%;
    @include utils.horisontal-items(10px);
    min-width: 300px;

    #tool-panel-input{
        width: 70%;
    }

    #tool-panel-add-button-image{
        cursor: pointer;
    }

    #tool-panel-theme-button-image{
        cursor: pointer;
    }
}


#task-panel{
    width: 46%;
    min-width: 300px;
    @include utils.align-center(5px);
    
}