body {
    background-color: #f0f0f0;
    font-family: Arial, sans-serif;
    color: #333;
  }

.main-header {
    display: flex;          /* включаем Flexbox */
    flex-direction: column;
    align-items: flex-start;    /* выравнивание по вертикали */
    
}
.section-block{
    display: flex;          
    flex-direction: column;
    align-items: flex-start;   
}
