@use '../themes/_themes';
@use '../utils/_utils' as utils;
@use '../utils/_variables' as variables;

html {
  scroll-behavior: smooth;
}

body {
  background-color: var(--bg-color);
  color: var(--text-color);
  transition: background-color 0.5s ease, color 0.5s ease; 
  font-family: variables.$default-font;

  @include utils.mobile{
    @include utils.align-left;
  }

  @include utils.tablet{
    @include utils.align-left;
  }

  @include utils.desktop{
    @include utils.align-left;
  }
}