@use '../utils/utils' as utils;

/*Карусель изображений*/
.carousel-block {
  border-radius: 15px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  text-align: center;

  .carousel-track {
    scroll-behavior: smooth;
    border-radius: 12px;
  }

  & button{
    justify-content: center;
    cursor: pointer;
    border-radius: 12px;
    background-color: #c2c1c1;
  }

  @include utils.mobile{
    #carouselImage{
      max-width: 70%;
      max-height: 70%;
      object-fit: fill;
      border-radius: 12px;
      pointer-events: none;

      transition: opacity 0.5s ease; /* плавный переход прозрачности */
      opacity: 1;
    }
  }

  @include utils.tablet{
    #carouselImage{
      max-width: 80%;
      max-height: 80%;
      object-fit: fill;
      border-radius: 12px;
      pointer-events: none;

      transition: opacity 0.5s ease; /* плавный переход прозрачности */
      opacity: 1;
    }
  }

  @include utils.desktop{
    #carouselImage{
      max-width: 100%;
      max-height: 100%;
      object-fit: fill;
      border-radius: 12px;
      pointer-events: none;

      transition: opacity 0.5s ease; /* плавный переход прозрачности */
      opacity: 1;
    }
  }
}
