
/*Карусель изображений*/
.carousel-block {
  border-radius: 15px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  text-align: center;

  .carousel-track {
    scroll-behavior: smooth;
    border-radius: 12px;

    #carouselImage{
      object-fit: fill;
      width: 100%;
      height: 100%;
      border-radius: 12px;
      pointer-events: none;

      transition: opacity 0.5s ease; /* плавный переход прозрачности */
      opacity: 1;
    }
  }

  & button{
    justify-content: center;
    cursor: pointer;
    border-radius: 12px;
    background-color: #c2c1c1;
  }
}
