@use '../themes/_themes';
@use '../utils/_utils' as utils;
@use '../utils/_variables' as variables;

html {
  scroll-behavior: smooth;
}

body {
  background-color: var(--bg-color);
  color: var(--text-color);
  

  transition: background-color 0.5s ease, color 0.5s ease; 
  font-family: variables.$default-font;

  @include utils.align-center(10px);
}

.root{
  @include utils.align-center(1px);
}