@use 'base/_base';
@use 'components/_buttons';
@use 'components/_cards';
@use 'components/_modals';
@use 'components/_panels';
@use 'components/_carousel';
@use 'layout/_footer';
@use 'layout/_headers';
@use 'layout/_navigator';



/* Мобильные устройства*/
  @media (max-width: 767px){
    .image-carousel{
      max-width: 60%;
      max-height: 60%;
    }
  }

/* Планшеты*/
@media (min-width: 768px)and (max-width: 1023px){
    .image-carousel{
      max-width: 80%;
      max-height: 80%;
    }
  }
  
  /* Десктоп*/
@media (min-width: 1024px){
    .image-carousel{
      max-width: 100%;
      max-height: 100%;
    }
  }
  
