@use '../utils/variables' as vars;
@use '../utils/utils' as utils;
@use '../themes/_themes';

.default-text-input{
  height: 30px;
  border-width: 2px;
  color: var(--text-color);
  border-color: vars.$light-blue-color;
  border-radius: vars.$border-radius;
  box-shadow: vars.$default-box-shadow;
  background-color: rgba(0,0,0,0.1);
}
.default-text-input:focus{
  color: var(--text-color);
  outline: none;
  background-color: rgba(0,0,0,0.1);
}

.default-checkbox-input{
  appearance: none;
  position: relative;
  height: 20px;
  width: 20px;
  background: var(--bg-color);
  border: 1px solid vars.$light-blue-color;
  border-radius: 4px;
  border-width: 2px;
  box-shadow: vars.$default-box-shadow;
}

.default-checkbox-input::after{
  content: "\2714";
  position: absolute;
  top: -6px;
  left: 0px;
  width: 0px;
  height: 0px;
  font-size: 20px;
  transition: 500ms;
  color: vars.$light-blue-color;
  overflow: hidden;
}

.default-checkbox-input:checked::after{
  width: 30px;
  height: 30px;
  transition: 500ms;    
}
