@use '../utils/_variables' as variables;

:root[data-theme="light"] {
  --bg-color: #{variables.$white-color};
  --text-color: #{variables.$black-color};
  --border-color: #{variables.$light-blue-color};
}

:root[data-theme="dark"],
:root:not([data-theme]) { 
  --bg-color: #{variables.$light-black-color};
  --text-color: #{variables.$white-color};
  --border-color: #{variables.$light-blue-color};
}