$default-font:          Arial, sans-serif !default;
$default-font-size:     16px !default;
$border-radius:         8px !default;
$black-color:           rgb(0, 0, 0);
$light-black-color:     rgb(43, 41, 41);
$white-color:           rgb(255, 255, 255);
$light-blue-color:      rgb(15, 146, 233);
$blue-color:            rgb(30, 78, 235);
$light-green-color:     rgb(7, 161, 66);
$default-box-shadow:    0 4px 10px rgba(0, 0, 0, 0.3);
